* {
    background-color: slategrey;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

.pose-card-title {
    font-size: large;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    margin-right: 5%;
    margin-left: 5%;
}

#pause-play-btn {
    width: 50px;
    height: 10px;
    margin-bottom: 50px;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#play-pause-img {
    width: 100%;
}
#timer {
    font-size: xx-large;
    color: white;
}

img {
    max-width: 95%;
}

#pose-container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    overflow: hidden;
}

.pose-card {
    width: 20%;
    max-height: 100%;
    margin: 15px;
    padding: 10px;
    background-color: #92b4a7;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #92b4a7 2px solid;
    overflow: hidden;
}

.pose-card > * {
    border: #92b4a7 2px solid;
    background-color: #92b4a7;
    /* max-width: 100%; */
}

.active-pose-first {
    border: #ffd23f 2px solid;
    background-color: #ffd23f;
    transform: scale(1.07);
}

.active-pose-first > * {
    border: #ffd23f 2px solid;
    background-color: #ffd23f;
}

.active-pose-second {
    border: #02deb2 2px solid;
    background-color: #02deb2;
    transform: scale(1.07);
}

.active-pose-second > * {
    border: #02deb2 2px solid;
    background-color: #02deb2;
}

.almost-done {
    border: #fe5f55 2px solid;
}

.switch-side {
    animation-duration: 1s;
    animation-name: flip-card;
}

.done,
.done > * {
    background-color: #575c75;
    border: #575c75 2px solid;
    opacity: 0.4;
}

.pose-card > .description {
    display: none;
}
.pose-card:hover > .description {
    display: block;
    font-size: 15px;
    line-height: 1.5;
}

.pose-card:hover > .description {
    display: block;
    font-size: 11px;
}
.pose-card:hover > img {
    display: none;
}

@keyframes flip-card {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

/* Mobile phone in Portrait */

@media screen and (max-width: 900px) and (orientation: Portrait) {
    h1 {
        font-size: medium;
    }
    button {
        width: 100px;
        height: 30px;
        font-size: 10px;
    }
    .pose-card {
        margin: 10px;
        width: 100%;
        height: 22vh;
    }
    .pose-card-title {
        font-size: medium;
    }
    img {
        width: 50%;
    }
    .pose-card:hover > .description {
        display: none;
    }
}

@media screen and (max-width: 600px) and (orientation: Portrait) {
    h1 {
        font-size: small;
    }
    img {
        width: 50%;
    }
    .pose-card {
        margin: 10px;
        width: 80%;
        height: 5%;
    }
    .pose-card-title {
        font-size: smaller;
    }
    .hidden {
        display: none;
    }
}

/* Mobile phone in Landscape */
@media screen and (max-width: 900px) and (orientation: landscape) {
    #pose-container {
        border: 3px green dotted;
    }
    h1 {
        font-size: medium;
    }
    button {
        width: 100px;
        height: 30px;
        font-size: 10px;
    }
    .pose-card {
        margin: 10px;
        width: 20%;
        height: 37vh;
    }
    .pose-card-title {
        font-size: x-small;
    }
    img {
        width: 40%;
    }
    .pose-card:hover > .description {
        display: none;
    }
}
